{# Copyright © 2024 MaskBloc.org <maskbloc.org@proton.me> #}
{# Licensed under the terms of the GPL-3 license. #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="robots" content="index, nofollow">

    <!-- OpenGraph/Meta/Facebook -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://maskbloc.org/assets/images/mb/meta-og.png">
    <meta property="og:url" content="https://maskbloc.org{{ page.url }}">
    <meta property="og:site_name" content="MaskBloc.org">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@maskblocorg">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://maskbloc.org/assets/images/mb/meta-x.png">

    <!-- Title -->
    <title>{{ title }}</title>

    <!-- Assets -->
    <link rel="icon" href="/assets/images/mb/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/images/mb/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/images/mb/apple-touch-icon.png">
    <link rel="mask-icon" href="/assets/images/mb/mask-icon.svg" color="#000000">
    <link rel="manifest" href="/assets/manifest.webmanifest">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
    <link rel="stylesheet" href="/assets/styles/index.css">

    <link rel="preload" as="image" href="/assets/images/mb/xmark.svg">
    <link rel="preload" as="image" href="/assets/images/mb/hamburger.svg">

    {% if page.url == "/" %}
      <script>
        var MaskBloc = {
          "keywords": {{ mask_blocs | keywords | safe }}
        }
      </script>
      <script defer src="/assets/scripts/index.js"></script>
    {% endif %}
  </head>
  <body>
    <header class="navigation">
      {% include "../_partials/navigation.njk" %}
    </header>
    {{ content | safe }}
    <footer>
      <p>You have reached the end.<br>We ♥️ you.</p>
      <img src="/assets/images/mb/mask-small.svg" class="footer-mask" alt="Small illustration of a KN95/FFP2 mask.">
    </footer>
  </body>
</html>
