---
layout: layout.njk
title: Error 404 - Page not found
description: The page you requested could not be found.
permalink: 404.html
---

{# Copyright © 2024 MaskBloc.org <contact@maskbloc.org> #}
{# Licensed under the terms of the GPL-3 license. #}

<main class="landing">
  <header>
    <img src="/assets/images/mb/mask.svg" class="landing-mask" alt="An illustration of a KN95/FFP2 mask.">
    <h1>404 – Page not found</h1>
    <h3>
      Use the navigation at the top to choose a page.
    </h3>
  </header>
</main>
