---
layout: layout.njk
title: About Mask Blocs / Frequently Asked Questions
tags: sitemap
description: Learn more about Mask Blocs, Mutual Aid, Community Care and the goal of this website.
---

{# Copyright © 2024 MaskBloc.org <contact@maskbloc.org> #}
{# Licensed under the terms of the GPL-3 license. #}

<main class="about">
  <h1>About/FAQ</h1>

  <section>
    <h3>What is MaskBloc.org?</h3>
    <p>
      MaskBloc.org's goal is to lists all active <a href="#mask-blocs" title="What are Mask Blocs?">Mask Blocs</a> in the world.
      It strives to be fully accessible to people with disabilities, as well as being easily discoverable through search engines.
    </p>
    <p>
      This is a work in progress, and the website is not yet fully accessible, but we are working hard on it!
      If you notice any accessibility issue, feel free to us drop a line at
      <a href="mailto:contact@maskbloc.org?subject=Accessibility issue!&body=Hey, I found an accessibility issue :(">contact@maskbloc.org</a>.
    </p>
    <p>
      MaskBloc.org is not affiliated with any of the groups listed. If you want us to remove your Bloc from the listing, please reach out.
    </p>
  </section>

  <section id="mask-blocs">
    <h3>What are Mask Blocs?</h3>
    <p>
      Blocs are formed when individuals or groups unite around a common goal. Blocs can take many forms, ranging from
      voting and political pressure groups, to advocacy groups and mutual aid organizations.
    </p>
    <p>
      Mask Blocs are independent mutual aid group providing high quality masks to their community for free.
      They may also provide other tools and information about COVID-19, clean air, testing, vaccination and accessibility.
    </p>
  </section>

  <section id="contribute">
    <h3>How to contribute</h3>
    <p>
      You want to contribute? That's awesome. If you want to add a new Mask Bloc, update existing information,
      suggest improvements or become part of team, reach out to
      <a href="mailto:contact@maskbloc.org?subject=New Mask Bloc!&body=Hey, we're setting up a new Mask Bloc, here are the details:">contact@maskbloc.org</a>.
    </p>
    <p>
      If you send us information about a new Mask Bloc, we might slightly edit the description to make it screen reader friendly.
    </p>
    <p>
      The source code of this website will soon be open sourced and we will accept pull requests / merge requests.
    </p>
  </section>

  <section id="contribute">
    <h3>(How) Can I start a Mask Bloc?</h3>
    <p>
      We're glad you're considering starting a new Bloc! A group of eight Mask Blocs published a <a href="https://docs.google.com/document/d/1yF1-pCKt2JVHG8Cj6FRo8tMngRQpgSWI87A5cHq2qws/edit" title="How to Start a Mask Bloc collaborative zine">collaborative zine</a>
      to get you started. We hope to list your new Mask Bloc soon!
    </p>
  </section>

  <section>
    <h3>Sources & Credits</h3>
    <p>
      MaskBloc.org aggregates data from multiple sources:
        <ul>
          <li><a href="http://bit.ly/covidadvocacygroups" title="COVID Advocacy Initiative's directory of advocacy groups">COVID Advocacy Groups Directory in US and Canada</a>;</li>
          <li><a href="https://www.google.com/maps/d/u/1/viewer?mid=1oUcoZ2njj3b5hh-RRDCLe-i8dSgxhno" title="COVID Action Map">COVID Action Map</a>;</li>
          <li>user-submitted content.</li>
        </ul>
    </p>
    <p>
      We want to thank all of the groups and people listed above. Their hard work made the existence of MaskBloc.org possible.
      We also want everyone engaged in the Mask Bloc movement, you rock fam!
    </p>
  </section>
</main>
