---
layout: layout.njk
title: Home – Mask Bloc Directory
tags: sitemap
description: MaskBloc.org provides list of active Mask Blocs around the world.
---

{# Copyright © 2024 MaskBloc.org <maskbloc.org@proton.me> #}
{# Licensed under the terms of the GPL-3 license. #}

{% from "src/_partials/socials.njk" import socials %}

<section class="landing with-arrow" aria-describedby="site-description">
  <header>
    <img src="/assets/images/mb/mask.svg" class="landing-mask" alt="An illustration of a KN95/FFP2 mask.">
    <h1>Masks for all.</h1>
    <p id="site-description">
      MaskBloc.org provides a list of active
      <a href="/about/#mask-blocs" title="What are Mask Blocs?">Mask Blocs</a>
      around the world.
    </p>
  </header>
</section>

<main id="local-blocs" class="main-section" aria-describedby="bloc-header">
  <header>
    <h2 id="bloc-header">Local Mask Blocs and other community providers</h2>
    <label for="bloc-filter" aria-hidden="true">Use the search field to filter entries.</label>
  </header>

  <div class="bloc-search">
    <div class="bloc-search-input">
      <input type="search"
             id="bloc-filter"
             aria-atomic="true"
             aria-label="Use this search field to filter entries, then press enter."
             placeholder="e.g. Ontario, France or London"
             onInput="filterBlocs(this.value);"
             tabindex="0">
    </div>
  </div>

  <p id="list-state" class="matching-blocs no-data hidden" tabindex="-1"></p>

  <div class="bloc-list">
    {% for column in list %}
      <div class="bloc-column">
        {% for key in column %}
          {% set country = mask_blocs[key] %}
          {% set country_id = key %}
          <section id="{{ country_id }}" class="country" aria-describedby="country-header-{{ country_id }}">
            <h3 id="country-header-{{ country_id }}">{{ country.name }}</h3>
            <ul class="country-bloc-list">
              {% for bloc in country.blocs %}
                {% set bloc_id = [country_id, "-", bloc.id] | join %}
                {% if bloc.division %}
                  {% set division_name = bloc.division | divisionname(country.country) %}
                  {% set aria_bloc_title = [division_name, ": ", bloc.name] | join %}
                {% else %}
                  {% set aria_bloc_title = bloc.name %}
                  {% set division_name = undefined %}
                {% endif %}
                <li class="mask-bloc" id="{{ bloc_id }}" aria-describedby="bloc-name-{{ bloc_id }}">
                  <header>
                    <h4 aria-label="{{ aria_bloc_title }}" id="bloc-name-{{ bloc_id }}">
                      <span aria-hidden="true">
                      {% if division_name %}
                        <abbr class="tag division" title="{{ division_name }}" aria-label="{{ division_name }}">
                          {{ bloc.division }}
                        </abbr>
                      {% endif %}
                      {{ bloc.name }}
                      </span>
                    </h4>

                    {% if bloc.tags %}
                      <ul class="tags" aria-label="Tags">
                        {% for tag in bloc.tags %}
                          <li><span aria-hidden="true">{{ tag | icon }}</span> {{ tag | capitalize }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </header>

                  {% if bloc.description %}
                    <div class="description">
                      {% for line in bloc.description.split('\n') %}
                        <p {{ bloc | bloclang | safe }}>{{ line }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}

                  {{ socials(bloc.name, bloc.socials) }}
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

</main>

<section id="useful-links" class="main-section" aria-describedby="useful-links-header">
  <header>
    <h2>Useful Links</h2>
    <h3 id="useful-links-header">Groups providing support and information regarding COVID-19 and other respiratory diseases.</h3>
  </header>

    <ul class="friend-list">
      {% for friend in friends %}
      <li describedby="friend-header">
        <div class="friend">
          <header>
            <h4 id="friend-header">{{ friend.name }}</h4>
          </header>

          {% if friend.description %}
          <div class="description">
              {% for line in friend.description.split('\n') %}
                <p {{ friend | bloclang | safe }}>{{ line }}</p>
              {% endfor %}
          </div>
          {% endif %}

          {{ socials(friend.name, friend.socials) }}
        </div>
      </li>
      {% endfor %}
    </ul>
</section>
