---
layout: layout.njk
title: Worldwide Mask Bloc Directory
tags: sitemap
description: Mutual Aid, Community Care & Masks For All – MaskBloc.org provides list of active Mask Blocs around the world.
---

{# Copyright © 2024 MaskBloc.org <maskbloc.org@proton.me> #}
{# Licensed under the terms of the GPL-3 license. #}

{% from "src/_partials/socials.njk" import socials %}

<section class="landing with-arrow" aria-describedby="site-description">
  <header>
    <img src="/assets/images/mb/mask.svg" class="landing-mask" alt="Illustration of a KN95/FFP2 mask.">
    <h1>Masks for all.</h1>
    <p id="site-description">
      MaskBloc.org provides a list of active
      <a href="/about/#mask-blocs" title="What are Mask Blocs?">Mask Blocs</a>
      around the world.
    </p>
  </header>
</section>

<main id="local-blocs" class="main-section" aria-describedby="bloc-header">
  <header>
    <h2 id="bloc-header">Mask Blocs and other community providers</h2>
    <label for="bloc-filter" aria-hidden="true">Use the search field to filter entries.</label>
  </header>

  <div class="bloc-search">
    <div class="bloc-search-input">
      <input type="search"
             id="bloc-filter"
             aria-atomic="true"
             aria-label="Use this search field to filter entries, then press enter."
             placeholder="e.g. Ontario, France or London"
             tabindex="0">
    </div>
  </div>

  <p id="list-state" class="matching-blocs no-data hidden" tabindex="-1"></p>

  <div class="bloc-list">
    {% for column in world.layout %}
      <div class="bloc-column">
        {% for region_id in column %}
          {% set region = world.regions[region_id] %}
          <section id="{{ region_id }}" class="region" aria-describedby="region-header-{{ region_id }}">
            <h3 id="region-header-{{ region_id }}">{{ region.name }}</h3>
            <ul class="region-bloc-list">
              {% for bloc_id in region.blocs %}
                {% set compound_id = [region_id, "-", bloc_id] | join %}
                {% set bloc = blocs[bloc_id] %}
                {% if bloc.subdivision %}
                  {% set subdivision_name = bloc.subdivision | divisionname(region.country) %}
                  {% set aria_bloc_title = [subdivision_name, ": ", bloc.name] | join %}
                {% else %}
                  {% set aria_bloc_title = bloc.name %}
                {% endif %}
                <li class="mask-bloc" id="{{ compound_id }}" aria-describedby="bloc-name-{{ bloc_id }}">
                  <header>
                    <h4 aria-label="{{ aria_bloc_title }}" id="bloc-name-{{ bloc_id }}">
                      <span aria-hidden="true">
                      {% if subdivision_name %}
                        <abbr class="tag division" title="{{ subdivision_name }}" aria-label="{{ subdivision_name }}">
                          {{ bloc.subdivision }}
                        </abbr>
                      {% endif %}
                      {{ bloc.name }}
                      </span>
                    </h4>

                    {% if bloc.tags %}
                      <ul class="tags" aria-label="Tags">
                        {% for tag in bloc.tags %}
                          <li><span aria-hidden="true">{{ tag | icon }}</span> {{ tag | capitalize }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </header>

                  {% if bloc.description %}
                    <div class="description">
                      {% for line in bloc.description.split('\n') %}
                        <p {{ bloc | bloclang | safe }}>{{ line }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                  {% set subdivision_name = undefined %}
                  {{ socials(bloc.name, bloc.socials) }}
                </li>
                {% set bloc = undefined %}
              {% endfor %}
            </ul>
          </section>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

</main>

<section id="useful-links" class="main-section" aria-describedby="useful-links-header">
  <header>
    <h2>Useful Links</h2>
    <h3 id="useful-links-header">Groups providing support and information regarding COVID-19 and other respiratory diseases.</h3>
  </header>

    <ul class="useful-link-list">
      {% for useful_link in useful_links %}
      <li describedby="useful-link-header">
        <div class="useful-link">
          <header>
            <h4 id="useful-link-header">{{ useful_link.name }}</h4>
          </header>

          {% if useful_link.description %}
          <div class="description">
              {% for line in useful_link.description.split('\n') %}
                <p {{ useful_link | bloclang | safe }}>{{ line }}</p>
              {% endfor %}
          </div>
          {% endif %}

          {{ socials(useful_link.name, useful_link.socials) }}
        </div>
      </li>
      {% endfor %}
    </ul>
</section>
