{# Copyright © 2024 MaskBloc.org <maskbloc.org@proton.me> #}
{# Licensed under the terms of the GPL-3 license. #}

<a href="/" class="home" title="Homepage">
  <img src="/assets/images/mb/maskbloc.svg" alt="MaskBloc.org Logo" class="logo">
</a>

<input class="hamburger-input" type="checkbox" id="burger-menu" name="scales" aria-hidden="true" />
<label class="hamburger-label" for="burger-menu" aria-hidden="true"></label>

<nav aria-label="Main Navigation">
  <ul>
    <li>
      <a href="/#local-blocs" title="Local mask and test distributors">Local Mask Blocs</a>
    </li>

    <li>
      <a href="/#friends" title="Other organisations">Friends</a>
    </li>

    <li>
      <a href="/about/" title="About MaskBloc.org">About</a>
    </li>

    <li>
      <a href="/about/#contribute" title="Contribute to MaskBloc.org">Contribute</a>
    </li>

    {# <li class="external">
      <a href="https://www.google.com/maps/d/u/1/viewer?mid=1oUcoZ2njj3b5hh-RRDCLe-i8dSgxhno"
         title="COVID Action Map maintained by @covidactionmap (External Link)">COVID Action Map</a>
    </li> #}
  </ul>
</nav>
